<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode-app</title>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/market.css">
    <link rel="stylesheet" type="text/css"  media="(min-width:0px) and (max-width:500px)" href="css/mobile.css">
<!--ipad로 할때는 max-width:1025, html{font-size:의 크기만 키워주면 다 같이 사이즈 업}-->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="js/index.js" charset="utf-8"></script>
    <script src="js/market.js" defer></script>
    </head>
<body>      
    <div class="left-side">
        <div class="icon">
            <button class="applyBtn" style="background: inherit;"><img src="img/sidebar_ic1.png"></button>
            <a href="/apply/start"><img src="img/sidebar_ic2.png"></a>
            <img src="img/sidebar_ic1.png">
            <img src="img/settings.png">
        </div>
        <div class="last_icon">
            <a href="/logout" onclick="alert('로그아웃 합니다.');"><img src="img/logout.png"></a>
        </div>
    </div>
    <div id="modal" class="searchModal">
        <div class="search-modal-content">
            <div id="progressBar">
                <div id="timeBar"></div>
            </div>
            <img src="/img/market/close.png" id="modal-close">
            <div id="modal-main"> 
                <img src="/img/market/kangaroo.jpg">
            </div>
        </div>
    </div>
    <top>
        <input type="search"  name="mainSearch" id="mainSearch" placeholder="Search ...">

        <div class="instagram">
            <% for( var i=0; i<2; i++){  %> 
            <div class="story" id="<%=i%>" >
                <div class="profile">
                    <img src="/img/mee.jpg">
                </div>
                <div class="name">
                    name
                </div>
            </div>
            <% } %>
        </div>
    </top>
    <menu> 
        <!-- <h1><span class="hide"></span></h1> -->
        <!-- <button class="btn_menu"></button>   -->
        <div class="navigation">  <!--btn_menu 눌렸을 때 2군데에 active들어가는 것으로 js에서 -->
            <nav>
                <ul>
                    <li id="following"><a href="/follow">Following</a></li>
                    <li id="trending"><a href="" style="color:#fff;">Trending</a></li>
                    <li id="attend"><a href="/attend">Your Attend</a></li>
                </ul>
            </nav>
        </div>
        <!-- <button class="btn_alram on"></button> 알람 메뉴, btn_alarm눌렀을 때 on추가하기(js) -->
        <hr id="nav-hr" />
    </menu>
    <main>
        <div class="swiper mySwiper">
            <div class="container swiper-wrapper">
                <% for(var i=0; i<3; i++) {
                    var profileImg = data[i*2].profileImg.split('3000/')[1]; %>   
                <div class="line swiper-slide">
                    <div class="item">
                        <img src="<%=data[i*2].mainImgPath%>" alt="image here"  onclick="moveTo('<%=data[i*2].reg_id%>')">
                        <div class="text-box">
                            <div class="left-text">
                                <!--계정 프로필 이미지-->
                                <img src="<%=profileImg%>" style="width:40px; height: 40px;">
                            </div>
                            <div class="middle-text">
                                <div class="title"><%=data[i*2].pTitle%></div>
                                <div class="sub-title">
                                    <sapn><%=data[i*2].name%></sapn>
                                    <span id="hit">&nbsp;HIT&nbsp;</span>   
                                </div>
                            </div>
                            <div class="right-text">
                                <div class="more" onclick="moreFun()">
                                    <img src="/img/more.png">
                                </div>
                            </div>
                            <div class="hidden-text">
                                <span>LIKE</span>
                                <span>SHORT DETAIL</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="item">
                        <%  var profileImg = data[i*2+1].profileImg.split('3000/')[1]; %>
                        <img src="<%=data[i*2+1].mainImgPath%>" alt="image here"  onclick="moveTo('<%=data[i*2+1].reg_id%>')">
                        <div class="text-box">
                            <div class="left-text">
                                <!--계정 프로필 이미지-->
                                <img src="<%=profileImg%>" style="width:40px; height: 40px;" alt="미등록">
                            </div>
                            <div class="middle-text">
                                <div class="title"><%=data[i*2+1].pTitle%></div>
                                <div class="sub-title">
                                    <sapn><%=data[i*2+1].name%></sapn>
                                    <span id="new">NEW</span>   
                                </div>
                            </div>
                            <div class="right-text">
                                <div class="more" onclick="moreFun()">
                                    <img src="/img/more.png">
                                </div>
                            </div>
                            <div class="hidden-text">
                                <sapn>LIKE</sapn>
                                <sapn>SHORT DETAIL</sapn>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div> 
            <div class="swiper-button-prev" style="display: none;"></div>
            <div class="swiper-button-next"></div>
        </div>

    </main>
</body>
</html>