<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="htttps://fonts.gstatic.com" crossorigin>
     <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/marketDetail.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  <!-- chart 사용 -->
    <script src="js/marketDetail.js" defer></script>
    
    <script src="js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js"></script>
    <script src="js/app.js"></script>
    <title>마켓 세부페이지</title>
</head>
<body>
    <header>
        <div class="header">
            <span style="float: left; width: 75%;">
                <img src="img/logo.png" style="width: 6rem; ">
                MODE_DAPP
            </span>
            <span style="display: inline-block; text-align: right; padding:1rem" onclick="goback();">
                <img src="img/back.png" style="width:2rem;"> HOME
            </span>
        </div>
    </header>
    <main>
        <div class="main-image">
            <!-- <img src="img/test1.png"> -->
            <!-- <video playsinline controls disableprictureinpicture controlslist="nodwonload nofullscreen" loop>
                <source src="https://nft-content.upbit.com/b7d43f37-2432-41b6-86a9-8857f555fe44" type="video/mp4">
            </video> -->
            <% var mainImg = data.mainImgPath.split("3000/")[1]; %>
            <img src="<%=mainImg%>" class="mainImg">
        </div>

        <div class="layout">
            <article class="content-left">
                <div class="detail-top">
                    <div class="main-tag">
                            <% for(var i=0; i<1; i++) { %>
                                <button>
                                    진행중
                                </button>
                            <% } %>
                    </div>
                    <div class="sub-tag">
                        <% for(var i=0; i<1; i++) { %>
                            <button>
                                가장 HIT 상품
                            </button>
                        <% } %>
                    </div>
                    <div class="detail-icon">
                        <a  href class="top-like"><img src="/img/heart.png"style="width: 1.4rem;"> 0</a>
                        <a  href class="top-share"><img src="/img/share.png" style="width: 1.3rem;"></a>
                    </div>
                </div>
                <div class="title">
                    <%=data.pTitle%>
                </div>
                <div class="registerInfo">
                    <img src="<%=data.profileImg.split('3000/')[1]%>">
                    <div class="profile">
                        <div class="usrid">ID: <%=data.user_id%> </div> <br>
                        <div class="job">발행인 </div>
                    </div>
                    <div class="profile-register">
                        <div> <%=data.reg_id%>  </div> <br>
                        <div> 발행정보 </div>
                    </div>
                </div>
                
                <% if(data.introVideoPath != "") { %>
                <input value="<%=data.introVideoPath%>" type="hidden" class="videoPath">
                <!-- <iframe id="player" type="text/html" width="640" height="360" src="<%=data.introVideoPath%>&enablejsapi=1" frameborder="0"></iframe> -->
                <div id="youtube-player"></div>
                <% } else { 
                     var introImg = data.introImgPath.split("3000/")[1]; %>
                     <input value="" type="hidden" class="videoPath"> <!-- js에서 해당 selector없어서 오류나는 것 방지-->
                     <img src="<%=introImg%>" id="introImg">
                <% } %>

                <div class="introSummary">
                    <b>Project Summary</b> <br>
                    <%=data.introSummary%>
                </div>

                <!-- Quill 작성한 글 불러오기 -->
                <input type="hidden" id="setQuill" value="<%=data.mainarticle %>">
                <div class="introduce" id="scrolling-contiainer">
                    <div id="quill-container">
                    </div>
                </div>

                <div class="chart">
                    <div class="chart-title">거래 추이&nbsp;
                        <a href class="Tooltip">
                            <img src="/img/TooltipQ.png" style="width: 1rem;">
                            <div class="tooltip-content">
                                <ul>
                                    <li>* 리스트: 해당 NFT 전체 에디션이 최근 3개월간 마켓플레이스 거래된 내역을 확인할 수 있습니다.</li>
                                    <li>* 그래프: 해당 NFT 전체 에디션이 최근 3개월간 마켓플레이스에서 거래된 가격 분포 추이를 확인할 수 있습니다.</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="chart-main">
                        <canvas id="purchaseTrend"></canvas>
                    </div>
                </div>

            </article>
            <%  
                        var today = new Date() ;
                        var endDate = data.endDate;
                     //   var arr1 = today.split('-');
                        var arr2 = endDate.split('-');
                      //  var date1 = new Date(arr1[0], arr1[1], arr1[2]);
                        var date2 = new Date(arr2[0], arr2[1]-1 , arr2[2]);

                        var diff = date2.getTime() - today.getTime();
                        var cuurMinute = 60 * 1000;
                        var currHour = 60 * cuurMinute;
                        var currDay = 24 * currHour;// 시 * 분 * 초 * 밀리세컨
                        var currMonth = currDay * 30; // 월 만듬
                        var currYear = currMonth * 12; // 년 만듬

                        var leftM =  diff/currMonth;
                        var leftD =  diff % currMonth / currDay;
                        var leftH =  diff % currMonth % currDay / currHour;
                        var leftMin =  diff % currMonth % currDay % currHour / cuurMinute;
            %>

            <article class="content-right">
                <div class="cardTimer">
                    <div class="leftTime">
                        <div class="day">
                            <div class="leftD"> <%= parseInt(leftM) %> </div>
                            <div> Months </div>
                        </div>
                        <div class="hour">
                            <div class="leftH"> <%= parseInt(leftD)%> </div>
                            <div> Days </div>
                        </div>
                        <div class="minutes">
                            <div class="leftM"> <%= parseInt(leftH) %> </div>
                            <div> Hours </div>
                        </div>
                        <div class="seconds">
                            <div class="leftS"> <%= parseInt(leftMin) %> </div>
                            <div> Minutes </div>
                        </div>
                    </div>
                    <% 
                        var fstartDate = data.startDate.replace(/-/gi,'.'); 
                        var fendDate = endDate.replace(/-/gi,"."); %>
                    <div class="duration">진행기간 : <%=fstartDate%> ~ <%=fendDate%> </div>
                </div>
                <hr>
                <div class="detail">
                    <dl class="totalFund">
                        <dt>달성 가격</dt>
                        <dd> <b><%=data.currentAmount%></b> 원 펀딩</dd> 
                    </dl>
                    <dl class="type">
                        <dt>방식</dt>
                        <dd>크라우드펀딩</dd>
                    </dl>
                    <div class="StyleBtn"> 
                        <button onclick="transOrder()">주문하기</button>
                    </div>
                </div>
            </article>
        </div>
        <article class="article-bottom">
           <div style="font-size:1.1rem; font-weight: bolder; margin-bottom: 1rem; color: #222;"> 고정가 판매 유의사항 </div>
            NFT는 특정 주체가 그 가치를 보장하지 않으며, 이에 따른 손실도 본인에게 귀속됩니다. <br>
            한정된 수량이 판매 종료 시점까지 고정된 가격으로 제공됩니다. <br>
            고객확인 완료한 업비트 계정으로 참여 가능합니다. <br>
            구매가 완료되면 취소할 수 없으므로 신중하게 결정하여 진행해주세요. <br>
            준비된 수량이 모두 소진되거나 판매 종료 시점이 도래한 경우 판매가 종료됩니다.<br>
            NFT는 판매 종료 후 7일 내 일괄 정산되어 지급됩니다.<br>
            구매한 금액은 NFT 지급 시점에 정산처리 되며 해당 시점까지는 거래 가능 금액에서 제외됩니다.(출금 및 거래 불가) <br>
            디바이스 상태에 따라 드롭스 시작/종료까지 남은 시간이 상이할 수 있습니다.<br>
            NFT 소유자는 NFT와 연계된 “디지털 저작물“을 비상업적인 용도로 사용(개인 SNS 내 업로드하는 행위 및 디지털 저작물 원본 그대로 개인적 용도로 사용하는 행위)할 수 있는 권리와 NFT 입출금, 거래 등이 지원되는 경우 지원되는 방식에 따라 NFT의 소유권을 타인에게 이전할 수 있는 권리를 갖습니다.<br>
        </article>
    </main>
    <footer>
        <!-- 한국공학대학교 졸업작품
        Team | 21.5 -->
    </footer>
</body>
</html>