<!DOCTYPE html>
<html lang="ko" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" charset="utf-8"></script>
 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="/js/apply/pstep1.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/apply.css">
</head>

<body>
    <div id="root">
        <%-include('header.ejs')%>
        <%-include('leftside.ejs')%>
        <div class="row">
            <div class="column middle">
                <div class="path">펀딩조건 > 기본요건 </div>
                <div class="mainTitle">기본 요건</div>
                <div class="desc">
                    프로젝트 진행에 필요한 기본 정보를 입력해주세요 <br>
                    답변이 사실과 다르면 불이익을 발생할 있으니, 솔직하고 정확하게 작성해 주세요.
                </div>  <br>
                <div class="question">
                   <p class="title"> Q1. 펀딩을 통해 소개하시려는 제품이나 서비스가 국내/해외의 다른 크라우드펀딩 플랫폼이나 온라인 커머스, 자사몰이나 오프라인에서 유통된 적이 있거나, 현재 유통 중인가요?</p>
                   <input type="radio" id="q11" name="1-1" value="No">
                   <label for="q11">아니요. 국내와 해외에서 유통한 적이 없어요. 혹은 해외에서만 유통되었어요.</label>
                    <br>
                   <input type="radio" id="q12" name="1-1" value="Yes">
                   <label for="q12">네 국내에서 유통한 적이 있어요. 혹은 현재 국내에서 유통 중이에요.</label>
                   <br> <br>
                   <label for="q12text">국내에서 유통된 제품이나 서비스를 그대로 프로젝트로 소개할 수 없어요 <br> 
                    어떤 점이 개선되었는지 자세히 작성해 주세요.</label> <br><br>
                   <textarea id="q12text" name="q12text" rows="10" cols="30" height="auto" placeholder="개선 보안된 세부 기능을 적어주세요."></textarea>
                </div> 
                <div class="question">
                    <p class="title">Q2. 준비하고 계신 리워드는 어떤 점이 특별한가요? 어떤 점을 기획/개발 또는 개선하여 제작한 리워드인가요?</p>
                    <p class="explain">  
                    1. 기존에 없던 새로운 리워드인가요?<br>
                    - 새로운 리워드를 만들게 된 이유, 리워드의 특징, 와디즈 서포터님들에게 소개하고 싶은 이유를 상세히 작성해 주세요.<br>
                    2. 기존에 있던 제품/서비스를 개선한 리워드인가요?<br>
                    - 기성품의 어떤 문제를 개선하였는지 작성해 주세요.<br>
                    - 리워드를 개선하게 된 이유를 알려 주세요.<br>
                    - 와디즈 서포터님들에게 개선품을 소개하고 싶은 이유를 작성해 주세요.<br>
                    3. 해외에서 판매된 우수 제품/서비스가 리워드인가요?<br>
                    - 와디즈 서포터님들에게 해외 판매 제품을 소개하고 싶은 이유를 작성해 주세요.<br>
                    - 펀딩을 통해 기대할 수 있는 가치, 혜택 등을 알려 주세요<br>
                    </p>
                    <textarea id="q2" name="q2" rows="4" cols="50" placeholder="내용을 입력해주세요."></textarea>
                 </div>
                 <div class="question">
                    <p class="title">Q3. 리워드가 어느 정도 준비되었나요? 앞으로의 계획도 구체적으로 설명해 주세요.</p>
                    <p class="explain">
                    1. 제품을 준비 중이신가요? <br>
                    - 제품을 제작하는 방식에 따라 어디까지 제작되었는지 설명해 주세요. (제품 제작 상태)<br>
                    - 제품을 어떻게 전달할 것인지 알려 주세요. (택배, 등기, 직접 배송 등)<br>
                    2. 무형의 서비스를 준비 중이신가요?<br>
                    - 장소 대관, 촬영 일정 등 현재 준비 상태가 궁금해요.<br>
                    - 앞으로 어떻게 준비할 예정인지 설명해 주세요.<br>
                    - 제공할 수 있는 좌석의 수, 하루 최대 예약 가능 수량, 서비스의 제공 방식(이메일, SMS 발송) 등 계획하고 있는 세부 내용을 알려 주세요.<br>
                    </p> 
                    <textarea id="q3" name="q3" rows="4" cols="50" placeholder="내용을 입력해주세요."></textarea>
                 </div>
                 <div class="question">
                    <p class="title">Q4. 제품이나 서비스의 종류와 제작 형태를 알려 주세요.</p>
                    <p class="explain">
                    1. 제품을 준비 중이신가요? <br>
                    - 제품을 제작하는 방식에 따라 어디까지 제작되었는지 설명해 주세요. (제품 제작 상태)<br>
                    - 제품을 어떻게 전달할 것인지 알려 주세요. (택배, 등기, 직접 배송 등)<br>
                    2. 무형의 서비스를 준비 중이신가요?<br>
                    - 장소 대관, 촬영 일정 등 현재 준비 상태가 궁금해요.<br>
                    - 앞으로 어떻게 준비할 예정인지 설명해 주세요.<br>
                    - 제공할 수 있는 좌석의 수, 하루 최대 예약 가능 수량, 서비스의 제공 방식(이메일, SMS 발송) 등 계획하고 있는 세부 내용을 알려 주세요.<br>
                    </p>
                    <textarea id="q4" name="q4" rows="4" cols="50" placeholder="내용을 입력해주세요."></textarea>
                 </div>
                 <input type="hidden" value="<%= data.regid %>" id="regid">
                 <button type="button" class="saveBtn"> 저장하기 </button>
            </div>
            <%-include('rightside.ejs')%>
        </div>
        <%-include('footer.ejs')%>
    </div>
</body>

</html>